h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a:active,
a:hover {
    outline: 0;
}

html {
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
    overflow-x: hidden;
    width: 100%;
    min-width: 300px;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: #111;
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

a:link,
a:visited {
    text-decoration: none;
    color: #d80b62;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

p {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.6;
}

.responsive {
    width: 100%;
}

@media only screen and (min-width: 767px) {
    .responsive {
        width: 50%;
    }
}

.separator {
    display: block;
    clear: both;
    width: 100%;
    height: 2px;
    margin: 15px 0;
    background: rgba(255, 255, 255, 0.1);
}

@media only screen and (min-width: 767px) {
    .separator {
        margin-top: 0;
    }
}

.container {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 15px;
}

@media only screen and (min-width: 767px) {
    .container {
        padding: 35px;
    }
}

.intro-container {
    position: relative;
    z-index: 10;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 70px;
    text-align: center;
}

@media only screen and (min-width: 767px) {
    .intro-container {
        float: left;
        width: 42%;
        margin-bottom: 0;
        text-align: left;
    }
}

.app-name {
    font-size: 35px;
    font-weight: 300;
    white-space: nowrap;
}

.intro {
    max-width: 300px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
}

@media only screen and (min-width: 767px) {
    .intro {
        max-width: 100%;
        margin-bottom: 40px;
    }
}

.intro h2 {
    margin-bottom: 20px;
/*    font-size: 28px;*/
    font-weight: 300;
/*    line-height: 1.2;*/
}

.sidebar {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 0px;
}

.sidebar a {
    text-decoration: underline;
}

@media only screen and (min-width: 767px) {
    .sidebar {
        float: right;
        width: 100%;
        max-width: 42%;
        height: 100%;
    }
}

.footer {
    margin-bottom: 10px;
}

.credit {
    float: left;
}

.credit a:hover {
    text-decoration: underline;
}

.links {
    float: left;
}

.links a {
    padding-right: 20px;
}

.links a,
.links a:visited {
    text-decoration: none;
    color: #d80b62;
}

@media only screen and (max-width: 767px) {
    .credit {
        text-align: center;
        margin-bottom: 10px;
    }
    
    .links {
        text-align: center;
    }
}

@media only screen and (min-width: 767px) {
    .links {
        text-align: right;
    }

    .links a {
        padding-right: 0;
        padding-left: 12px;
    }
}

.app-icon a {
  height: 100px;
  width: 100px;
  background-image: url(/images/icon.png);
  background-size: cover;
  text-decoration: none;
  color: white;
  display: inline-block;
  border-radius: 24px;
  position: relative;
}

.app-icon a:before,
.app-icon a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
  -webkit-transform: scaleX(2) scaleY(1.05);
  transform: scaleX(2) scaleY(1.05);
  clip: rect(0, 66px, 100px, 34px);
  z-index: -1;
}

.app-icon a:after {
  -webkit-transform: scaleY(2) scaleX(1.05) rotate(90deg);
  transform: scaleY(2) scaleX(1.05) rotate(90deg);
}

.appstore-icon {
    width: 56px;
}
